.home {
  background-image: url('https://i.imgur.com/M7Oqi6Z.jpg');
  background-color: #0e0b12;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}

.dogs {
  margin-left: 38px;
  height: 130vh;
}
